<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlets.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>servlets.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdherentController</servlet-name>
        <servlet-class>servlets.AdherentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollecteurController</servlet-name>
        <servlet-class>servlets.CollecteurController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CycleController</servlet-name>
        <servlet-class>servlets.CycleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EcheanceController</servlet-name>
        <servlet-class>servlets.EcheanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MouchardController</servlet-name>
        <servlet-class>servlets.MouchardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>servlets.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaiementController</servlet-name>
        <servlet-class>servlets.PaiementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParticipantController</servlet-name>
        <servlet-class>servlets.ParticipantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UtilisateurController</servlet-name>
        <servlet-class>servlets.UtilisateurController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceController</servlet-name>
        <servlet-class>servlets.ResourceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdherentController</servlet-name>
        <url-pattern>/adherents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollecteurController</servlet-name>
        <url-pattern>/collecteurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CycleController</servlet-name>
        <url-pattern>/cycles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EcheanceController</servlet-name>
        <url-pattern>/echeances</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MouchardController</servlet-name>
        <url-pattern>/mouchards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaiementController</servlet-name>
        <url-pattern>/paiements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantController</servlet-name>
        <url-pattern>/participant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtilisateurController</servlet-name>
        <url-pattern>/utilisateurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceController</servlet-name>
        <url-pattern>/assets/css/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
